<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <title>Stock Market</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <!--
  <div class="container">
    <img src="assets/images/profit.jpg" alt="Norway" style="width:100%;">
    
    <div class="text-block">
      <hr>
     <!-- <a style="color: rgb(18, 18, 19);font: 1em sans-serif; font-size: large; padding-left: 20px;" routerLink="/login" >Login</a> 
      <hr> 
      <a style="color: rgb(12, 11, 12);font: 1em sans-serif;font-size: large; padding-left: 20px;" (click)="gotoList()">Stockmarket</a>
     <hr>
     <a href="https://www.facebook.com/" class="fa fa-facebook-square" style="font-size:20px;" ></a>
     <a href="https://www.instagram.com/" class="fa fa-instagram" style="font-size:20px;text-indent:10px"></a>
     <a href="https://twitter.com/?lang=en-in"class="fa fa-twitter-square"  style="font-size:20px;text-indent:10px"></a>
     <a href="https://in.linkedin.com/" class="fa fa-linkedin-square"  style="font-size:20px;text-indent:10px"></a>
    </div>
    

  </div>
 <div>

 -->



<router-outlet></router-outlet>